<html>
    <head>
        <title>Поступившие заказы</title>
    </head>
    <header>
        <ui>
            <li><a href="http://{{ host }}/">Главная</a></li>
            <li><a href="http://{{ host }}/statistics">Статистика</a></li>
            <li><a href="http://{{ host }}/logout">Выход</a></li>
        </ui>
    </header>
    <body>
        <h1>Сервер обработки логов</h1>
        <p>Сервер TimeTabler: master </p>
        <p>Сервер TimeTabler: release </p>
        <p>Сервер TimeTabler: develop </p>
        <p>Сервер TimeTabler: database </p>
    </body>
</html>