<html>
    <head>
        <title>Login Page</title>
    </head>
    <body>
        <h1>Login page</h1>
        <form action = "/login" method="post">
            <label>Email</label>  
            <input type="text" name="email" size="30"> <br>
            <label>Password</label>
            <input type="password" name="pwd"> <br>
            <input type="submit" value="Submit">
        </form>
        <h3>{{ error }}</h3>
    </body>
</html>