<html>
    <head>
        <title>Поступившие заказы</title>
    </head>
    <header>
        <ui>
            <li><a href="http://{{ host }}/">Главная</a></li>
            <li><a href="http://{{ host }}/statistics">Статистика</a></li>
            <li><a href="http://{{ host }}/logout">Выход</a></li>
        </ui>
    </header>
    <body>
        <h1>Все логи:</h1>
        {% if data.Error %}
            <h2>{{ data.Error.error }}</h2>
        {% endif %}

        {% if data.Data %}
            {% for item in data.Data %}
            <div id="note">
                <p>Сервер: {{ item.SRV }}, Дата: {{ item.Date }} - {{ item.Value }}</p>
            </div>
            {% endfor %}
        {% endif%}
    </body>
</html>